{
  "presets": ["es2015-no-commonjs", "react", "stage-2"],
  "env": {
    "development": {
      "plugins": [
          "lodash",
          "transform-es2015-modules-commonjs",
          "transform-async-to-generator"
      ]
    },
    "test": {
      "plugins": [
        "lodash",
        "transform-es2015-modules-commonjs",
        "transform-react-jsx-source",
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
          "lodash",
          "transform-es2015-modules-commonjs",
          "transform-async-to-generator"
      ]
    },
    "es": {
      "plugins": ["lodash", "./babel-lodash-es", "transform-async-to-generator"]
    }
  }
}
